
<br>
<br>
<h3>工商银行模拟交易系统--登录</h3>
<!-- <h3>{{$ctrl.greeting}} 818内部视频站!</h3>

 --><!-- <button ng-click="$ctrl.toggleGreeting()">Say Hello</button>
名: <input type="text" ng-model="firstName"><br>
姓: <input type="text" ng-model="lastName"><br>
<br>
姓名: {{firstName + " " + lastName}}

<br> -->

<!-- <div class="col-md-5"></div>
<div class="col-md-7">
	<form ng-submit="submit()" >
		用户名<input type="text" ng-model="username" name="name">
		<br>
		密码<input type="password" ng-model="password" name="">
		<br>
		<input type="submit" name="" value="登录">
	</form>
</div>
{{username}} -->
<div>
	<form ng-submit="submit2()" >
		用户名<input type="text" ng-model="username" name="name">
		<br>
		密码<input type="password" ng-model="password" name="">
		<br>
		<input type="submit" name="" value="登录">
	</form>
</div>
	


