<div class="container">
	<div class="table">
	  <table class="table table-hover" ng-show="cart.length">
	  	<thead>
			<tr>
				<th>商品编号</th>
				<th>产品名称</th>
				<th>购买数量</th>
				<th>产品单价</th>
				<th>产品总价</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in cart">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>
					<button type="button" ng-click="minus(item.id)" class="btn btn-primary">-</button>
					<input type="text" name="" value="{{item.quantity}}" ng-model="item.quantity">
					<button type="button" ng-click="add(item.id)" class="btn btn-primary">+</button>
					
				</td>
				<td>{{item.price}}</td>
				<td>{{item.price * item.quantity}}</td>
				<td>
					<button type="button" ng-click="remove(item.id)" class="btn btn-danger">移除</button>
				</td>
			</tr>
			<tr>
				<td>总购买价</td>
				<td>{{totalPrice()}}</td>
				<td>总购买数量</td>
				<td>{{totalQuantity()}}</td>
				<td colspan="2"><button type="button" ng-click="cart={}" class="btn btn-danger">清空购物车</button></td>
				<!-- <td>
					总购买价 {{totalPrice()}}    总购买数量  {{}}
					<button type="button" class="btn btn-danger">清空购物车</button>
				</td> -->
			</tr>
		</tbody>
	  </table>	
	  <p ng-show="!cart.length">购物车为空</p>	
	</div>
</div>